.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.visited {
  border-bottom: 1px solid var(--primary-color);
}

/* Animation */
.animate {
  animation: animate infinite 0.4s alternate ease-in-out;
}

@keyframes animate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0.4rem);
  }
}
