.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}

.visited {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--primary-color);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  background: var(--primary-color);
}

.btn:hover {
  background: var(--bg-light);
  color: var(--primary-color);
}

section {
  padding: 2rem;
}

/* Animation */
.animate {
  animation: animate infinite 0.4s alternate ease-in-out;
}

@keyframes animate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0.4rem);
  }
}

.animate-two {
  animation: animate-two infinite 1.5s alternate ease-in-out;
}

@keyframes animate-two {
  from {
    transform: translateX(0.1rem) translateY(-0.7rem);
  }

  to {
    transform: translateX(0) translateY(0);
  }
}
